*{
    font-family: "Nunito Sans";
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: var(--Very-Light-Gray-LightModeBackground) !important;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
