@import "./root";
.head{
    border-bottom: 3px solid var(--Very-Light-Gray-LightModeBackground);
    background-color: white;
    color: var( --Very-Dark-Blue-LightModeText);
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:15px 0;
        user-select: none;

        .dark-light-mode{
            cursor: pointer;
            & i{
                margin-right: 10px;
            }
        }
    }

} 

.background-head{
    background-color: var(--Dark-Blue-DarkModeElements);
}
