:root{
    --Dark-Blue-DarkModeElements: hsl(209, 23%, 25%);
    --Very-Dark-Blue-DarkModeBackground: hsl(207, 26%, 17%);
    --Very-Dark-Blue-LightModeText: hsl(200, 15%, 8%);
    --Dark-Gray-LightModeInput: hsl(0, 0%, 95%);
    --Very-Light-Gray-LightModeBackground: hsl(0, 0%, 95%);
    --White-DarkModeText---LightModeElements: hsl(0, 0%, 83%);

    --Homepage-Items: 14px
    --Detail-Page: 16px
}