@import "../root";

.countrie-infos{
    .container{
        padding-left: 0;
        padding-right: 0;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        & span{
            margin: 0 5px;
        }
        & span:first-child{
            font-weight: bold;
        }
        .go-back{
            background-color: white;
            padding: 6px 30px;
            border-radius: 5px;
            box-shadow: #a3a3a3 0 0 3px 0px;
            cursor: pointer;
            width:fit-content;
        }
        .details{
            margin-top: 70px;

            .flag{
                & img{
                    width: 550px;
                    height: 350px;
                    box-shadow: #a3a3a3 0 0 3px 0px;
                }
            }
            .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 50px;
                .the-name{
                    & h2{
                        display:flex;
                        margin-bottom: 25px;
                        font-weight: bold;
                    }
                    
                    }
                .all-info{
                    
                    .info-1{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .info-details{
                            margin-bottom: 10px;
                            line-break:anywhere;
                        }
                    }
                    .info-2{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .info-details{
                            margin-bottom: 10px;
                            line-break:anywhere;
                        }
                    }
                    .border-count{
                        margin-top: 30px;
                        .countri-bord{
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            .bord{
                                margin: 5px 5px;
                                border: 1px solid var( --White-DarkModeText---LightModeElements);
                                padding: 3px 20px;
                                font-size: 14px;
                                border-radius: 3px;
                            }
                        }   
                        
                    }
                }
            }
        }
    }
}